@font-face {
    src: url("/fonts/FinkHeavy.ttf");
    font-family: "FinkHeavy";
}

body{
    font-family: "FinkHeavy";
    color: maroon;
    height: 100vh;
    background-image: url("/img/wallpaper_animal_crossing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav{
    background-color: #795828;
}

.navbar-brand img{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.navbar-brand img:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #A48C37;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #A48C37;
}

.input-group-text {
    min-width: 90px;
}

.box{
    background: #FFF;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    min-height: 280px;
    max-height: 280px;
    opacity: 0.8;
}

.box-user:hover{
    -webkit-box-shadow: -5px 5px 15px 2px #000000;
    box-shadow: -5px 5px 15px 2px #000000;
}

.box-archipel:hover{
    -webkit-box-shadow: 0px 5px 15px 2px #000000;
    box-shadow: 0px 5px 15px 2px #000000;
}

.box-ile:hover{
    -webkit-box-shadow: 5px 5px 15px 2px #000000;
    box-shadow: 5px 5px 15px 2px #000000;
}

.box-ile .title-ile:hover{
    text-decoration: underline;
    text-underline: maroon;
}

.box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.action{
    text-align: end;
}
